@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    margin: 0;
    padding:0;
    background-color: white;
}



.inl-per{
    display: block;
}
.inl-per::before,.inl-per::after{
    content: "";
    display: block;
    position: relative;
    width: 55%;
    height: 8px;
    left: 0;
    z-index: 1;
    background-color: #4169E1;
    border-radius: 5px;
    opacity: 1;
    
}

.inl-per::before{
    top: 94%;
    
}


.inl-per::after{

    border-bottom:2px solid #ffffff;

}


/*cabeçalho*/
header{
    overflow: hidden;
    
}
header img{
    margin-left: 50px;
    width: 100px;
}

header li{
    margin-left: auto;
    margin-right: auto;
}
header nav{
    position: relative;
    left: 50%;
    transform: translate(-20%,0);
    transition: height .35s ease;
}




nav a{
    display: block;
    cursor: pointer;
}

 header li::before,header li::after{
    content: "";
    display: inline-block;
    position: relative;
    height: 6px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #4169E1;
    border-radius: 5px;
    opacity: 0;
    transition: all 500ms;
    
}

 header li::before{
    top:55%;
}


li::after{
    top:-22%;
    border-bottom:2px solid #ffffff;

}

li:hover::after,li:hover::before{
    opacity: 1;
}

/*banner*/
#banner{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(120, 80, 20, 0.2), rgba(120, 80, 20, 0.2)), url("../images/banner.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

}
#banner p{
    font-size: 1em;
}


#banner button{
    padding: 5px 20px;
}

/*nossos serviços*/
#servicos{
    background-color: #E5E5E5;
    padding: 20px 0;
}
#servicos button{
    display: block;
}
#servicos .inl-per::before, #servicos .inl-per::after{
    width:45%;
}

#servicos img{
    width: 100%;
    position: relative;
    top: -10%;
}

/*estrutura*/

#estrutura{

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/estrutura/fundo-estrutura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#estrutura img{
    border: 5px solid #212121;
}

#estrutura .inl-per::before, #estrutura .inl-per::after{
    left: 50%;
    transform: translate(-125%,0);
    width: 80px;
}
.carousel-nav{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.carousel-nav > span{
    margin: 1px;
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #9ba1b3;
    border-radius: 50%;
    border: 2px solid #9ba1b3;
}

.carousel-nav > span.selected{
    background-color: #000000;
}

/*
#estrutura .image1,#estrutura .image5{
    width: 26vw;
    display: inline;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);

}


#estrutura .image2,#estrutura .image4{
    width: 20vw;
    display: inline;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

}


#estrutura .image3{
    width: 30vw;
    display: inline;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

}

#estrutura .image1{
    left: 10vw;
    z-index: 2;
}

#estrutura .image2{
    left: 20vw;
    z-index: 4;
}

#estrutura .image3{
    left: 35vw;
    z-index: 5;
}

#estrutura .image4{
    left: 50vw;
    z-index: 3;
}

#estrutura .image5{
    left: 60vw;
    z-index: 1;
}


.carousel-item{
    transition: all 300ms;
}


.slider-nav>div{
    margin-left: auto;
    margin-right: auto;
}

.slider-item{
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #FBF428;
    border-radius: 50%;
    border: 2px solid #FBF428;
}*/

.slider-item:checked{

    background-color: #000;

}

/*sobre*/
#sobre-nos{
    background-color: #E5E5E5;
    padding-top: 20px;
    padding-bottom:20px;

}

#sobre-nos .inl-per::before, #sobre-nos .inl-per::after{
    width:70%;
}
#sobre-nos p{
    margin-bottom: 10px;
}


#sobre-nos .btn{
    margin-top: 30px;
    padding: 10px 50px;
    word-wrap: break-word;
    word-break: normal;
}

#sobre-nos img.image1{
    width: 75%;
    display: inline;
    position: relative;
    top: 50%;
    z-index: 2;


}
#sobre-nos img.image2{
    width: 75%;
    display: inline;
    position: relative;
    margin-left: 25%;
    
    z-index: 1;


}



/*parceiros*/

#parceiros{
    background-color: #0d0d1f;
    color: white;
    text-align: center;
    padding-top: 55.5px;
    padding:100px 0;
}

#parceiros .inl-per::before, #parceiros .inl-per::after{
    left: 50%;
    transform: translate(-115%,0);
    width: 100px;
}
#parceiros .inl-per::before{
    top:100%;
}

#parceiros .inl-per::after{
    top:8%;
}





#parceiros div>h1{
    font-size: 30px;
    line-height: 0.8;

}


#imagepartner img{
    margin: 15px;
}

#imagepartner .slick-prev{
    overflow: hidden;
    color: transparent;
    position: absolute;
    display: inline-block;
    background-color: #0d0d1f;
    background-image: url("../images/parceiros/dashicons_arrow-right-alt2.svg");
    background-size: cover;
    border: 0;
    height: 50px;
    width: 50px;
    top: 50%;
    left:0%;
    transform: scaleX(-1) translate(100%,0);
    z-index: 1;


}
#imagepartner .slick-next{
    color: transparent;
    position: absolute;
    display: inline;
    background-color: #0d0d1f;
    background-image: url("../images/parceiros/dashicons_arrow-right-alt2.svg");
    background-size: cover;
    border: 0;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 100%;
    z-index: 2;
    
    
}



/*fale-conosco*/

#fale-conosco{
   padding-top: 20px;
   padding-bottom: 20px;
}


#fale-conosco label{
    font-size: 20px;
}

#fale-conosco input{
    height: 40px;
}

#fale-conosco input.mensagem{
    height: 100px;
    margin-bottom: 0;
}
#fale-conosco input[type="submit"]{
    font-size: 20px;
    padding: 5px 10px ;
    font-weight: bold;
    display: block;
}




/*footer*/

footer{
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 15px;
  
}



footer .logo{
    width:200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

footer .h3{
    color: #ad86df;
}



footer  .flex-container{
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    text-align: justify;
}
.flex-container>*{
    margin: 0;
    padding: 0;
}



footer div.info img{
    width: 22px;
    margin-right: 7px;
}




footer p{
    font-size: 0.9em;
    line-height:9pt;
    
}


footer>div>p{

    margin-bottom: 0;
}


.dev{
    margin-top: 0;
}
footer img#dev-for{
    width: 100px;
}




/*whatsapp icon*/
#whats{
    width: 65px;
    height: 65px;
    background-color: #25D366;
    border-radius: 50%;
    display: inline;
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-105%,-200%);
    z-index: 3;
}
#whats>img{
    width:45px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

div.dev>div{
    margin-left: auto;
}

@media (max-width:540px){
   
    
    p{
        font-size: 0.7em;
    }
}

@media (max-width :767px ) {


    
    
    footer .logo{
        width:100%;
        position: relative;
        top: 0;
        left: 0;        
        transform: translate(0,0);

        
    }

}
@media (max-width :991px ) {

    header img{
        margin:0;
        position:relative;
        left: 50%;
        transform: translate(-50%,0);
    }

    header nav{
        position: relative;
        left: 0;
        transform: translate(0,0);
    }
    header li::before{
        top:45px;
    }
    header li::after{
        top:-22px;
    
    }

    footer .logo{
        width:100%;
        position: relative;   
    }
    div.dev>div{
        margin-left: auto;
        margin-right: auto;
    }

    /*serviços*/
    #servicos img{
        margin-top: 20px;
        top:0;
        left:0;
    }
    /*sobre nos*/

    

    #sobre-nos img.image2{
        top: -30%;
    }
    /*estrutura*/
    
    .carousel-nav{
        display: none;
    }

    /*rodape*/

    footer .dev{
        margin-left: auto;
        margin-right: auto;
    }
}













